* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NorseBold';
  src: url('./fonts/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
}

.picture-column {
  position: relative;
  background-image: url(./images/fern.jpg);
  background-size: cover;
  height: auto;
  width: 40%;
}

.logo {
  position: absolute;
  top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(29, 29, 29, 0.5);
  width: 100%;
  padding: 10px 0;
  gap: 5px;
}

.logo-img img {
  width: 100px;
  height: auto;
}

.logo-text {
  color: white;
  font-family: 'NorseBold', 'sans-serif';
  font-size: 4rem;
  align-self: center;
}

.img-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.img-font {
  color: white;
  font-size: 1.25rem;
  padding: 5px 0;
}

.img-font a {
  color: white;
}


.form-column {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  width: 70%;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form section {
  padding: 20px 30px;
}

.form-top p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding: 20px;
  width: 70%;
  flex: 1;
}

p.sign-up{
  padding-top: 0;
}

span.italize {
  font-style: italic;
}

.form-mid {
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 40px 30px;
  flex: 1;
}
div.inputs {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 1.5rem;
}

label {
  display: block;
  font-size: 1.3rem;
}

input {
  padding: .3rem;
  font-size: 1rem;
  border-radius: .3rem;
}

input:invalid {
  border-color: red;
}

.form-bot {
  flex: 1;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-bot a {
  color: #596D48;
}

button {
  padding: 10px 30px;
  margin: 30px 0px;
  color: #E5E7EB;
  background-color: #596D48;
  border-radius: .5rem;
  border: none;
}
